body {
  margin: 0;
  padding: 0;
}

.pane {
  display: flex;
}

.navbarDiv {
  background-color: #b366ff;
  border-radius: 5px;
  color: #fff;
  margin: 10px;
  padding: 10px;
}

.paneContent {
  background-color: #d966ff;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  margin: 10px 10px 10px 0;
  width: 100%;
}
